.env
/Users/chrismannina/cs-projects/school/cs467-capstone/config/.env
/scratch
/myenv
/__pychache__
src/__pycache__
/new_env
/logs/*.log
!/logs/.gitkeep
.DS_Store
.streamlit/secrets.toml
/Users/chrismannina/cs-projects/school/cs467-capstone/medical_document_qa_chris_mannina.zip
/Users/chrismannina/cs-projects/school/cs467-capstone/medical_document_qa_chris_mannina